<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>Write New chat here</h4>
    <form action="/chats" method="POST">
        <input type="text" placeholder="who are you" name="from"><br><br>
        <textarea name="msg" >Write message here</textarea><br><br>
        <input type="text" name="to" placeholder="reciver-name"><br><br>
        <button>create chat</button>
    </form>
    
</body>
</html>