<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Create New Post </h3>
    <form method="post" action="/posts">
        <div>
            User Name : <input type="text" name="username" id="">
        </div>
        <br>
        <div>
            content :
            <input type="textarea" row ="3" col="50" name="content">
        </div>
        <br>
        <button>submit</button>
    </form>
</body>
</html>